/* spacing on all sections */
#about, #skills, #portfolio, #personalrepos {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}

/* color specified id and objects */
#about, #favoritequotes {
    color: white;
}

#medium {
    color: black;
    background: white;
    font-family: 'PT Serif', serif;
}

body {
    background-color: rgb(35, 35, 35);
}

/* make select text white */
.whitetext {
    color: white;
}

/* set default link color */
.nav-link {
    color:white;
}
.navbar-brand {
    color: white;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/lukasz-szmigiel-forest.jpg');
    background-size:cover;
    position:relative;
}

/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
    border-radius: 10%;
}

/* skills section css */
.skillsText.card {
    height: 280px;
    cursor: pointer;
    border-radius: 10%;
}
.skillsIcon, .generalIcon {
    font-size: 90px;
    text-align: center;
    width: 100%;
}
.skillsIconSmall {
    font-size: 45px;
    text-align: center;
}
.card-title {
    text-align: center;
}
.card:hover, .skillsIcon:hover, .fa-github:hover, .fa-linkedin:hover {
    color: #b62b4e;
}
.skillsText:hover {
    border: 1px solid #b62b4e;
}

/* footer social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.nav-link:hover, .navbar-brand:hover{
    color: grey;
}
.fab {
    color: white;
}

/* footer styling */
#footer {
    background-color: black;
    text-align: center;
}

.blockquote-footer {
    color: rgb(168, 168, 168);
}